<div class="elementor-alert elementor-alert-{{type}}" role="alert">
    <span class="elementor-alert-title">{{title}}</span>
    <span class="elementor-alert-description">{{{description}}}</span>
</div>